<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Обслуживание клиентов</h6>
        <ul class="list-unstyled mb-0">
          <li class="footer-link">Круглосуточная поддержка по телефону и email</li>
          <li class="footer-link">Возврат товара в течение 14 дней</li>
          <li class="footer-link">Бесплатная примерка перед покупкой</li>
          <li class="footer-link">Гарантия на все изделия 12 месяцев</li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h6 class="text-uppercase mb-3">Компания</h6>
        <ul class="list-unstyled mb-0">
          <li class="footer-link">Собственное производство в Курске</li>
          <li class="footer-link">Доставка по всей России</li>
          <li class="footer-link">Сертификаты качества на каждый товар</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase mb-3">Социальные сети</h6>
        <ul class="list-unstyled mb-0">
          <li class="footer-link">MAX: max.ru/jewelry_shop</li>
          <li class="footer-link">VK: vk.com/jewelry_shop</li>
          <li class="footer-link">RuTube: канал «Ювелирные истории»</li>
        </ul>
      </div>
    </div>
  </div>
</footer>